.home{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    height: 92vh;
}
.description{
    /* background-color: rgb(0, 162, 255); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20vw 0 20vw;
    color: white;
    font-size: 28px;
    border: 1px solid #ccc;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.button button{
    padding: 15px 30px;
    background-color: black;
    transition: 1s;
    font-size: 22px;
    
}

.button button:focus{
    background-color: white;
    border: 2px solid black;
}