.App {
  
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.Name {
  height: 8vh;
  background-color: black;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

h1{
  font-size: 22px;
}
label{
  font-size: 18px;
}

/* Button & Input Text rgb(29, 165, 228); #24a0ed */
input, textarea{
  border: 1px solid black;
  padding: 4px 10px;
  margin: 4px;
  transition: 0.5s;
  border-radius: 4px;

  background-color: rgb(49, 49, 49);
  color: #ccc;
  font-size: 13px;
}

input:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 5px black;

}
textarea:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 5px black;

}

button{
  border: 1px solid black;
  padding: 10px 40px;
  margin: 4px;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-align: center;
  transition: 0.5s;

  font-size: 16px;
  cursor: pointer;
}

button:focus{
  border: 2px solid black;
  color: black;
  background-color: white;
}

button:hover{
  transition: 0.5s;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
}